/JoueurAlreadyExistsException.class
/JoueurNotFoundException.class
/WrongPasswordException.class
/NotUniqueException.class
/NotUniqueResultException.class
/NotUniqueResultError.class
/UnexpectedDBError.class
