/JoueurAlreadyExistsException.class
/JoueurNotFoundException.class
/WrongPasswordException.class
/NotUniqueException.class
/NotUniqueResultException.class
/NotUniqueResultError.class
/UnexpectedDBError.class
/JoueurExisteException.class
/JoueurIntrouvableException.class
/ImprevuDBError.class
/MauvaisMDPException.class
