/FirstApplication.class
/Layer.class
/Main.class
/Map.class
/Obstacle.class
/Personnage.class
/Tileset.class
/Level.class
/MathsMinion.class
/Mob.class
/FirstApplication$1.class
/FirstApplication$2.class
/FirstApplication$3.class
/FirstApplication$4.class
